<link rel="stylesheet" type="text/css" href="styles.css">


    <div class="banner">
        <div class="oval">
            <h1 class="title">PLANTIFY</h1>
        </div>

        <ul class="nav-links" >
            <li><a href="/plants">HOME</a></li>
            <li><a href="/new">ADD</a></li>
        </ul>
    </div>
    <!-- <h1 class="title-font">My Plants</h1>

    <div class="btnContainer">
        <a class="font btn add" href='/new'>Add Plant</a>
    </div> -->



<div class="container">
    <% plants.forEach(v => { %>
    <div class="cards">
        <div class="title-font"><%=v.name %></div>
        <img src = '<%=v.img %>' height="200" />
        <div class="textContainer">
            <span class="description"><%=v.description%></span>
        </div>

        <div class="btnParent">
            <a class="btn " href="/<%=v.id%>">view</a>
            <!-- <a class="font" href="/">delete</a> -->

            <form class="margin" action="/<%=v.id%>?_method=DELETE" method="POST">
                <input class="btn "type="submit" value="Delete" />
            </form>
        </div>
    </div>


   <% }) %>
</div>
